body{
    margin-top: 50px;
/*    height: 1000px;*/
  }

textarea {
    resize:none
}

#forum-list {
	position: relative;
	text-align: center;
}

.forum-list{
  text-align: center;
  background: #fff;
  position: relative;
  left: 250px;
  z-index: 15;
  margin-bottom: 60px;
  margin-top: 20px;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.forum-list:after{
    content:"";
    display:block;
    height:25px;
    background: #fff;
}
.flex{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  margin-right: -15px;
  margin-left: -15px;
}
.flex-item{
  padding: 0 15px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 25%;
  max-width: 850px;
}
.forum-list .forum-list-title {
	text-align: center;
  font-size: 20px;
  font-weight: 700;
  padding: 10px 10px 0;
  max-width: 850px;
  overflow-wrap: break-word;
}
.forum-list .forum-list-date-added {
  font-size: 16px;
  padding: 0 10px;
}
.forum-list .forum-list-description {
  padding: 10px 25px;
  z-index: 15;
  background: #fff;
  height: 125px;
  text-align: justify;
  overflow: auto;
}
.forum-list .forum-list-reply {
  background: #e45;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  width: 25%;
  height: 50px;
  bottom: 1px;
  position: absolute;
  right: 0px;
  cursor: pointer;
  z-index: -1;
  -webkit-border-radius: 0 0px 2px 2px;
  -moz-border-radius: 0 0px 2px 2px;
  -o-border-radius: 0 0px 2px 2px;
  border-radius: 0 0px 2px 2px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.forum-list-reply-button {
  bottom: 0px;
}

.forum-list:hover .forum-list-reply {
  bottom: -50px;
}
/* styling form */
#input-list form{
  width: 500px;
  margin: 50px auto;
  text-align: center;
  position: relative;
  z-index: 1;
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  position: relative;
}
#input-list form > h2{
  font-size: 1.3em;
  text-transform: uppercase;
  color: #2C3E50;
  margin-bottom: 10px;
}
#input-list form > .todo-form-input, #input-list form > .todo-form-textarea{
  padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 13px;
}
