<!DOCTYPE html>
{% extends "app_profile/layout/base.html" %}
{% block content %}
<html lang="en">

<style>
	body{
		top:50px;
		position: relative;
		overflow:hidden;
	}
	img{	
	}

	@-webkit-keyframes hvr-pulse-shrink {
    to {
       -webkit-transform: scale(0.9);
       transform: scale(0.9);
	   }
	}
	@keyframes hvr-pulse-shrink {
	  to {
	    -webkit-transform: scale(0.9);
	    transform: scale(0.9);
	  }
	}

	button {
	  display: inline-block;
	  vertical-align: middle;
	  -webkit-transform: perspective(1px) translateZ(0);
	  transform: perspective(1px) translateZ(0);
	  box-shadow: 0 0 1px transparent;
	}
	button:hover, button:focus, button:active {
	  -webkit-animation-name: hvr-pulse-shrink;
	  animation-name: hvr-pulse-shrink;
	  -webkit-animation-duration: 0.3s;
	  animation-duration: 0.3s;
	  -webkit-animation-timing-function: linear;
	  animation-timing-function: linear;
	  -webkit-animation-iteration-count: infinite;
	  animation-iteration-count: infinite;
	  -webkit-animation-direction: alternate;
	  animation-direction: alternate;
	}
	img{
		left:520px;
		top:60px;
		position: relative;
	}
	@-webkit-keyframes typing { from { width: 0; } }
	@-webkit-keyframes blink-caret { 50% { border-color:transparent; } }

	h1 { 
		font-size:30px;
	    font: bold 150% Consolas, Monaco, monospace;
	    border-right: 0.1em solid black;
	    width: 15em; 
	    width: 21ch;
	    margin: 2em 1em;
	    white-space: nowrap;
	    overflow: hidden;
	    -webkit-animation: typing 3s steps(30, end),
	               blink-caret 1s alternate infinite ;
	}

	.profile{
		height: 220px;
		width: 500px;
		position: relative;
		left: 360px;
		top:200px;
		background-color:#FFF8DC;
		border: 1px solid;
        padding: 10px;
        box-shadow: 5px 10px;
        font-style: "Comic Sans MS", cursive, sans-serif;
	}
	.type{
		font-family: 'Press Start 2P', cursive;
		text-align:center
		font-size:5px;
	}
	.spesial{
		font-family: 'Press Start 2P', cursive;
		text-align:center
		font-size:5px;
	}
	.web{
		font-family: 'Press Start 2P', cursive;
		text-align:center
		font-size:5px;
	}
	button{
		font-family: 'Press Start 2P', cursive;
		text-align:center

	}
	h1{
		font-family: 'Press Start 2P', cursive;
	}


</style>
<body>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<h1 style="font-family: 'Press Start 2P', cursive;">Selamat Datang {{name}}</h1>
	<img src="{{pic}}">
	<button type="button" class="btn" style="position:relative; top:200px; left:270px; font-family:'Press Start 2P', cursive;font-size:12px" href="#" onClick="lab1()">Cari Mahasiswa</button>
	<button type="button" class="btn" style="position:relative; top:200px; left:420px; font-family:'Press Start 2P', cursive; font-size:12px" href="#" onClick="lab2()">Lihat Forum</button>
	<button type="button" class="btn" style="position:relative; top:10px; left:500px; font-family:'Press Start 2P', cursive; font-size:12px" onClick="logout()">Log Out</button>

	<div class = "profile">
		<p class ="type">Tipe Perusahaan    : {{type}}</p>
		<p class= "spesial">Spesialitas        : {{spesial}}</p>
		<p class = "web">Linkedin Perusahaan : {{web}} </p>
	</div>

	<script>
		function logout(){
	    IN.User.logout();
	}
	</script>
	
</body>
{% endblock %}