<!DOCTYPE html>
<html>
<head>
<title>Login with LinkedIn</title>
<script type="text/javascript" src="//platform.linkedin.com/in.js">
	api_key:   81n8dfjtuqjfdm
	onLoad:    onLinkedInLoad
	authorize: true
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% csrf_token %}

<script type="text/javascript">
		// Setup an event listener to make an API call once auth is complete
	function onLinkedInLoad() {
	    IN.Event.on(IN, "auth", getProfileData);

	}

	// Use the API call wrapper to request the member's profile data
	function getProfileData() {
	    IN.API.Profile("me").fields("id", "first-name", "last-name", "headline", "location", "picture-url", "public-profile-url", "email-address", "industry", "specialties").result(displayProfileData).error(onError);
	   
	}

	// Handle the successful return from the API call
	function displayProfileData(data){
		console.log(data)
	    var user = data.values[0];
	    alert(user.headline)
	    $("#name").append('Logged in as '+user.firstName+' '+user.lastName);
	    document.getElementById('profileData').style.display = 'block';
	    $.ajax({
        url: '/profile/load-profile/',
        method: 'POST',
        data: { 
        	'namaPerusahaan': user.firstName+user.lastName,
        	'headline': user.headline,
        	'industry': user.industry,
        	'email' : user.emailAddress,
        	'picture' : user.pictureUrl,
        	'public' : user.publicProfileUrl,
        	'id' : user.id,
        } ,
        dataType: 'json',
        error: function (data) {
            window.location.href = "/profile/refresh/"+user.firstName+user.lastName+"/"
        }
    }); 
	    /*var url = "/profile/load-profile/";
	    var xhr = new XMLHttpRequest();
        xhr.open("POST", url, true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify({
            namaPerusahaan: user.firstName
        }));*/
	}

	// Use the API call wrapper to request the company's profile data
	function getCompanyData() {     
		// Masukin ID company lau
	    var cpnyID = 13601891;

	    IN.API.Raw("/companies/" + cpnyID + ":(id,name,ticker,description)?format=json")
	      .method("GET")
	      .result(displayCompanyData)
	      .error(onError);
	}

	function displayCompanyData(data){
		alert(data)
	    // To do
	}

	// Handle an error response from the API call
	function onError(error) {
	    console.log(error);
	}

	// Destroy the session of linkedin
	function logout(){
	    IN.User.logout(removeProfileData);
	}

	// Remove profile data from page
	function removeProfileData(){
	    document.getElementById('profileData').remove();
	}
</script>
</head>
<body>
	<p id="baton">Tes</p>
	<div id="profileData" style="display: none;">
		<p id="name"></p>
	</div>
	<!-- sign in with linkedin button -->
	<script type="in/Login"></script>
</body>
</html>