{% extends "app_profile/layout/base.html" %}
<!--
<style>
    h1{
        top:50px;
        position: relative;
    }
    .text-info{
        margin-top:50px;

    }
</style>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="rata-tengah">
            <div class="judul">
                <h1> Halaman Login </h1>
                <p class="text-info"> Gunakan <b> akun SSO </b> untuk login </p>
            </div>
            <form action="#" method="POST">
                {% csrf_token %}
                <p>
                    <label for="username"> Your username </label>
                    <input type="text" id="username" name="username" required>
                </p>
                <p>
                    <label for="password"> Your password </label>
                    <input type="password" id="password" name="password" required>
                </p>
                <input type="submit" class="btn btn-primary">
            </form>
        </div>
    </div>
</div>!-->
{% block content %}

<style>
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.header {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.body{
    top:180px;
    position: relative;
    overflow: hidden;
}
</style>
<body class="body">
<div class="header">
  <form action="#" method="POST">
   {% csrf_token %}
    <label for="fname">Your Username</label>
    <input type="text" id="username" name="username" placeholder="Your Username">

    <label for="lname">Your Password</label>
    <input type="password" id="password" name="password" placeholder="Your Password">
    <input type="submit" value="Submit">
  </form>
</div>
</body>

{% endblock %}