{% extends "app_profile/layout/base.html" %}

{% block content %}
<section name="forum-list" id="forum-list">
	<div class="container">
        <h2>Forum {{ perusahaan.nama_perusahaan }}</h2>
        <div id="forum-entry-group" class="flex">
            {% if forums %}
                {% for forum in forums %}
                    <div class="flex-item">
                        <div class="forum-list">
                            <div class="forum-list-title">
                                {{ perusahaan.nama_perusahaan }}
                            </div>
                            <div class="forum-list-date-added">
                                {{ forum.posted_at }}
                            </div>
                            <div class="forum-list-description">
                                {{ forum.content }}
                            </div>
                            <div class="forum-list-reply">
                                <div class="forum-list-reply-button" data-id="{{forum.id}}">Reply</div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="alert alert-danger text-center">
                    <strong>Oops!</strong> Belum ada forum diskusi apapun
                </div>
            {% endif %}
        </div>
        <ul class="pagination">
			<li><a class="btn" onClick="prevPage()"><<</a></li>
		    <li class="active"><a id="page-number">1</a></li>
		    <li><a class="btn" onClick="nextPage()">>></a></li>
		</ul>
    </div>
</section>
<section name="input-list" id="input-list">
    <div class="container">
        <form id="form" method="POST" action="{% url 'forum:post-forum' %}">
            <h2>Input Forum</h2>
            {% csrf_token %}
            {{ forum_form }}
            <input id="submit" type="submit" class="btn btn-lg btn-block btn-info" value="Submit">
            <br>
        </form>
    </div>
</section>
{% endblock %}

{% block javascript %}
<script>
	var pageNumber = 1;

	var nextPage = function() {
		$.ajax({
			method: "GET",
			url: "{% url 'forum:get-forum-posts' %}?page=" + (pageNumber+1),
			dataType: "json",

			success: function(response) {
				if (response.forums.length > 0) {
					pageNumber++;
					$("#page-number").text(pageNumber);
					$(".flex-item").remove();

					response.forums.forEach(function(forum) {
						html = `<div class="flex-item">
	                        <div class="forum-list">
	                            <div class="forum-list-title">` + forum.perusahaan_nama + 
	                            `</div>
	                            <div class="forum-list-date-added">` + forum.posted_at + `</div>
	                            <div class="forum-list-description">` + forum.content + `</div>
	                            <div class="forum-list-reply">
	                                <div class="forum-list-reply-button" data-id="` + forum.id + `">Reply</div>
	                        </div>
	                   </div>`;

	                   $("#forum-entry-group").append(html);
					});
				}
			},

			error: function(response) {
				alert("Gagal mengambil page selanjutnya!");
				console.log(response);
			}
		});
	};

	var prevPage = function() {
		if (pageNumber > 1) {
			$.ajax({
				method: "GET",
				url: "{% url 'forum:get-forum-posts' %}?page=" + (pageNumber-1),
				dataType: "json",

				success: function(response) {
					pageNumber--;
					if (pageNumber < 1) pageNumber = 1;

					$("#page-number").text(pageNumber);
					$(".flex-item").remove();

					response.forums.forEach(function(forum) {
						html = `<div class="flex-item">
	                        <div class="forum-list">
	                            <div class="forum-list-title">` + forum.perusahaan_nama + 
	                            `</div>
	                            <div class="forum-list-date-added">` + forum.posted_at + `</div>
	                            <div class="forum-list-description">` + forum.content + `</div>
	                            <div class="forum-list-reply">
	                                <div class="forum-list-reply-button" data-id="` + forum.id + `">Reply</div>
	                        </div>
	                   </div>`;

	                   $("#forum-entry-group").append(html);
	                });
				},

				error: function(response) {
					alert("Gagal mengambil page sebelumnya!");
					console.log(response);
				}
			});
		}
	};
</script>
{% endblock %}