{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Tugas 1 PPW">
    <meta name="author" content="{{author}}">
    <!-- bootstrap csss -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"> 
    <link rel="shortcut icon" href="http://aux.iconpedia.net/uploads/1755550516208937900.png" />
    <link rel="stylesheet" type="text/css" href="{% static 'app_profile.css' %}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700">
    <title>LinginKuy_Friends</title>
    <style>
    body{
        background: -webkit-gradient(left top, left bottom, color-stop(12%, rgba(16,127,118,1)), color-stop(50%, rgba(29,150,143,1)), color-stop(94%, rgba(43,176,171,1)), color-stop(100%, rgba(45,180,175,1)));
        background: -webkit-linear-gradient(top, rgba(16,127,118,1) 12%, rgba(29,150,143,1) 50%, rgba(43,176,171,1) 94%, rgba(45,180,175,1) 100%);
        background: -o-linear-gradient(top, rgba(16,127,118,1) 12%, rgba(29,150,143,1) 50%, rgba(43,176,171,1) 94%, rgba(45,180,175,1) 100%);
        background-repeat: no-repeat;
        background-size: cover;
    }
    </style>
</head>
<body>
    <div class="background">
        <header>
            <!-- TODO nama apps kalian -->
            {% include "app_profile/partials/header.html" %}
        </header>
        <content>
            <div class="container">
                {% block content %}
                    <!-- content goes here -->
                {% endblock %}
            </div>

        </content>
        <footer>
            <!-- TODO nama apps kalian -->
            {% block footer %}
            {% include "app_profile/partials/footer.html" %}
            {% endblock %}
        </footer>

        <!-- Jquery n Bootstrap Script -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </div>
</body>
</html>